openapi: 3.1.0
info:
  title: Soluções EV-Costa API
  version: "1.0.0"
  description: >
    Catálogo resumido da API v1 do ecossistema Soluções EV-Costa.
    Inclui endpoints de autenticação, perfil de usuário, rotas EV,
    sessões de recarga e pagamentos integrados.
  contact:
    name: Equipe Técnica EV-Costa
    email: suporte@evcosta.io

servers:
  - url: https://api.evcosta.io/api/v1
    description: Ambiente de Produção
  - url: https://staging.api.evcosta.io/api/v1
    description: Ambiente de Homologação

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    UserProfile:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name_min:
          type: string
        prefs:
          type: object
        created_at:
          type: string
          format: date-time

    Vehicle:
      type: object
      properties:
        id:
          type: string
        make_model:
          type: string
        autonomy_km:
          type: integer
        connector_type:
          type: string

    ChargingSession:
      type: object
      properties:
        id:
          type: string
        point_id:
          type: string
        vehicle_id:
          type: string
        energy_kwh:
          type: number
        status:
          type: string
          enum: [created, authorized, started, stopping, ended, invoiced]
        started_at:
          type: string
          format: date-time
        ended_at:
          type: string
          format: date-time

    PaymentTx:
      type: object
      properties:
        id:
          type: string
        amount:
          type: number
        currency:
          type: string
        status:
          type: string
        created_at:
          type: string
          format: date-time

paths:
  /auth/login:
    post:
      summary: Autenticação de usuário
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        "200":
          description: Token de acesso gerado
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  refresh_token:
                    type: string

  /users/me:
    get:
      summary: Retorna o perfil do usuário autenticado
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Dados do usuário
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"

  /users/me/vehicles:
    get:
      summary: Lista veículos do usuário autenticado
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Lista de veículos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Vehicle"

  /routing/plan:
    post:
      summary: Planeja rota com base na autonomia do veículo
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                origin:
                  type: object
                  properties:
                    lat: { type: number }
                    lon: { type: number }
                destination:
                  type: object
                  properties:
                    lat: { type: number }
                    lon: { type: number }
                autonomy_km:
                  type: number
      responses:
        "200":
          description: Rota sugerida com pontos de recarga
          content:
            application/json:
              schema:
                type: object
                properties:
                  route_id:
                    type: string
                  total_distance_km:
                    type: number
                  waypoints:
                    type: array
                    items:
                      type: object
                      properties:
                        lat: { type: number }
                        lon: { type: number }
                        stop_for_charge: { type: boolean }

  /charging/start:
    post:
      summary: Inicia uma nova sessão de recarga
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                point_id: { type: string }
                vehicle_id: { type: string }
      responses:
        "200":
          description: Sessão iniciada
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargingSession"

  /payments/authorize:
    post:
      summary: Autoriza uma transação de pagamento
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                session_id: { type: string }
                amount: { type: number }
      responses:
        "200":
          description: Pagamento autorizado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentTx"

  /invoices/{invoiceId}:
    get:
      summary: Recupera fatura PDF segura
      security:
        - bearerAuth: []
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Fatura encontrada
          content:
            application/json:
              schema:
                type: object
                properties:
                  pdf_link:
                    type: string
